    
    /*body{
        color: yellow;
        background-color: grey;
        transition: 2s;
        opacity: 90%;
    }

    body::after{
        color: grey;
        background-color: yellow;
        transition: 2s;
        opacity: 90%;
    }
    */
    
    
    #botaoLigar{
        
        height: 170px;
        width : 400px;
        background-color: greenyellow;
        font-style: italic;
        font-size: 80px;
        margin-top: 5px;
        margin-left: 300px;
        justify-content: center;
        text-align: center;
        
    }

   #lampada{
    height: 1700px;
    width: 1000px;
   }

   



  