    #botaoLigar{
        
        height: 170px;
        width : 400px;
        background-color: greenyellow;
        font-style: italic;
        font-size: 80px;
        margin-top: 5px;
        margin-left: 300px;
        justify-content: center;
        text-align: center;

              
    }

   #lampada{
    height: 1700px;
    width: 1000px;
   }



  