    #botaoLigar{
        
        height: 170px;
        width : 400px;
        background-color: greenyellow;
        font-style: italic;
        font-size: 80px;
        margin-top: 5px;
        justify-content: center;
        text-align: center;
              
    }

   #imgLampadaOn{     
    background-color: yellow;
    height: 1700px;
    width: 1100px;
    visibility: visible;

   }

   #imgLampadaOff{
    position: relative;
    background-color: black;
    visibility: none;
    height: 1700px;
    width: 1100px;
    
    

   }

    

    



  